.error_message { color: red ; }
.error_message a {color: red ; }
.error_message a:link:hover { color: #CD853F ; }
.error_message a:visited:hover { color: #CD853F ; }
.required {color: green }
.waiting_message { text-align: center ; font: 200% Arial, Helvetica, Verdana, sans-serif; padding-bottom: 40 px}
.centered_submit_area { text-align: center ; }
