.indentp {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; padding-right: 30px; padding-left: 30px}
.news {  font-family: Arial, Helvetica, sans-serif; font-size: 9px}
.newsdate {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-style: italic; font-weight: bold}
.p { font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px}
.indentcode { font-family: "Courier New", Courier, mono; font-size: 12px; padding-right: 60px; padding-left: 60px}
.code { font-family: "Courier New", Courier, mono; font-size: 12px}
